{%- set dailyNotes = collections.notes | filterBy("filePathStem", "includes", "Daily Notes/") -%}
{%- if dailyNotes.length > 0 -%}
{%- set latestNote = dailyNotes | first -%}
{%- set noteSlug = latestNote.fileSlug | split("/") | last -%}
{%- set displayDate = noteSlug | replace("2025-", "") | replace("2024-", "") | replace("2023-", "") | replace("-", " ") -%}
<a href="{{latestNote.url}}" class="internal-link">{{displayDate}}</a>
{%- endif -%} 